// src/pages/EventDetailsPage.scss
.event-details-page {
  padding: 20px;
  .accordion-header {
    background-color: #e5e5e5;
    color: #000;
  }
  .accordion-body {
    background-color: #f5f5f5;
    color: #000;
  }
}
